
*.vsidx
*.vsidx
HRMS/.vs/HRMS/FileContentIndex/1f246197-87d5-4fc1-b211-9357e3efa58f.vsidx
HRMS/.vs/HRMS/FileContentIndex/3f06c998-e31d-42ce-8cef-e98f4debbb11.vsidx
HRMS/.vs/HRMS/FileContentIndex/463cf7ff-cbf5-4b4a-82d0-77177fe92105.vsidx
HRMS/.vs/HRMS/FileContentIndex/73281e63-789d-4739-a2be-dee9edd5e010.vsidx
HRMS/.vs/HRMS/FileContentIndex/7f002ebd-4cba-4aea-97f2-ec5b1e3fcdb9.vsidx
*.vsidx
